@font-face {
    font-family: GT-Walsheim-Bold;
    src: url(../fonts/GT-Walsheim-Bold.woff);
}

@font-face {
    font-family: GT-Walsheim-Light;
    src: url(../fonts/GT-Walsheim-Light.woff);
}

@font-face {
    font-family: GT-Walsheim-Medium;
    src: url(../fonts/gt-walsheim-medium-web.woff);
}


body {
    
    font-family: GT-Walsheim-Medium;
	color: #FFFFFF;

}

.header-content, 
.results-header-content {

	display: inline;

}

#results-container {

	background-color: #01D2BD;

}

#results-container,
#top-container {

	padding: 40px;

}

#sort-container {

	float: right;

}

#strapline {

	font-family: GT-Walsheim-Light;
	
}

#title {

	font-family: GT-Walsheim-Bold;

}

#title-container {

	text-align: center;

}

#top-container {

	background-color: #121C25;

}