@font-face {
    font-family: GT-Walsheim-Bold;
    src: url(../fonts/GT-Walsheim-Bold.woff);
}

@font-face {
    font-family: GT-Walsheim-Light;
    src: url(../fonts/GT-Walsheim-Light.woff);
}

@font-face {
    font-family: GT-Walsheim-Medium;
    src: url(../fonts/gt-walsheim-medium-web.woff);
}


body {
    
    font-family: GT-Walsheim-Light;
	color: #FFFFFF;

}

.header-content, 
#results-head, 
.results-header-content {

	display: inline;

}

#header-logo {

	width: 50px;
	height: 42px;

}

#header-title {

	font-size: 18px;
	font-family: GT-Walsheim-Medium;
	vertical-align: middle;
	margin-left: 10px;

}

input[id="search-input"] {

	font-family: GT-Walsheim-Light;
	font-size: 20px;
	width: 500px;
	padding: 15px 60px;
	margin-right: -5px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;

}

input[id="search-input"]:focus {

	outline: none;

}

input[id="search-input"],
input[id="search-submit"] {

	background-color: #FFFFFF;
	border: none;

}

input[id="search-submit"] {

	font-family: GT-Walsheim-Medium;
	font-size: 20px;
	width: 150px;
	padding: 15px 30px;
	color: #3F4B56;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

}

#results-container {

	background-color: #01D2BD;

}

#results-container,
#top-container {

	padding: 40px;

}

#results-head {

	font-size: 34px;

}

.results-header-content {

	font-size: 11px;

}

.search { 
	
	margin: 3px; 
	background: url('../images/search-icon.png') no-repeat 34px 22px; 

}

#search-border {

	border-left: 1px solid #AEBAC8;

}

#sort-container {

	float: right;

}

#strap-highlight {

	color: #01D2BD;

}

#strapline {

	font-size: 30px;
	color: #AEBAC8;

}

#title {

	font-family: GT-Walsheim-Bold;
	font-size: 45px;

}

#title-container {

	text-align: center;

}

#top-container {

	background-color: #121C25;

}