@font-face {
    font-family: GT-Walsheim-Bold;
    src: url(../fonts/GT-Walsheim-Bold.woff);
}

@font-face {
    font-family: GT-Walsheim-Light;
    src: url(../fonts/GT-Walsheim-Light.woff);
}

@font-face {
    font-family: GT-Walsheim-Medium;
    src: url(../fonts/gt-walsheim-medium-web.woff);
}


body {
    
    font-family: GT-Walsheim-Light;
	color: #FFFFFF;

}

.film-container {

	background-color: #FFFFFF;
	color: black;
	border-radius: 3px;

}

.film-info {

	vertical-align: top;
	font-family: GT-Walsheim-Medium;
	overflow: auto;

}

.film-inner {
	
	padding: 15px;

}

.film-list {

	padding: 0;

}

.film-listing {

	list-style: none;
	margin-top: 20px;

}

.film-poster {

	width: 65px;
	height: 100px;

}

.film-title {

	color: #3F4B56;
	font-size: 16px;
	overflow: auto;
	width: 100%;

}

.film-title,
.film-year {

	display: block;
	margin-top: 3px;

}

.film-type {

	color: #88D1Ef;
	font-size: 11px;

}

.film-year {

	color: #AEBAC8;
	font-size: 11px;

}

.header-content, 
#results-head, 
.results-header-content {

	display: inline;

}

#header-logo {

	width: 50px;
	height: 42px;

}

#header-title {

	font-size: 18px;
	font-family: GT-Walsheim-Medium;
	vertical-align: middle;
	margin-left: 10px;

}

input[type="text"] {

	color: #AEBAC8;

}

input[id="search-input"] {

	font-family: GT-Walsheim-Light;
	font-size: 20px;
	width: 500px;
	padding: 15px 60px;
	margin-right: -5px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;

}

input[type="text"]:focus,
input[type="button"]:focus,
input[type="submit"]:focus {

	outline: none;

}

input[id="search-input"],
input[id="search-submit"] {

	background-color: #FFFFFF;
	border: none;

}

input[id="search-submit"] {

	font-family: GT-Walsheim-Medium;
	font-size: 20px;
	width: 150px;
	padding: 15px 30px;
	color: #3F4B56;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;

}

#results-container {

	background-color: #01D2BD;
	padding: 25px;
	overflow: scroll;

}

#results-head {

	font-size: 34px;
	font-family: GT-Walsheim-Light;

}

#results-header {

	padding: 0 15px;

}

.results-header-content {

	font-size: 11px;
	font-family: GT-Walsheim-Bold;

}

.search { 
	
	margin: 3px; 
	background: url('../images/search-icon.png') no-repeat 34px 22px; 

}

#search-border {

	border-left: 1px solid #AEBAC8;

}

#sort-container {

	float: right;

}

.sort-active {

	padding: 10px;
	margin-left: 10px;
	border: none;
	color: #FFFFFF;
	background-color: #019A8B;
	border-radius: 3px;

}

.sort-button {

	padding: 10px;
	margin-left: 10px;
	border: none;
	color: #121C25;
	background-color: #FFFFFF;
	border-radius: 3px;

}

#strap-highlight {

	color: #01D2BD;

}

#strapline {

	font-size: 30px;
	color: #AEBAC8;

}

#title {

	font-family: GT-Walsheim-Bold;
	font-size: 45px;

}

#title-container {

	text-align: center;

}

#top-container {

	background-color: #121C25;
	padding: 40px;

}